<div class="white-space space-md"></div>
<div class="books-cards container">
    <div class="row">
        {{#ifCond action 'search' }}
            <h5 class="center fw-300">Showing <span class="color-primary">{{resLength}}</span> Results for <span
                    class="color-primary">'{{query}}'</span></h5>
        {{/ifCond}}
        {{#ifCond action 'browse' }}
            <h5 class="center fw-300">Browsing <span class="color-primary">{{resLength}}</span> Results</h5>
        {{/ifCond}}
        {{#ifCond action 'requests' }}
            <h5 class="center fw-300">Browsing <span class="color-primary">{{resLength}}</span> Requested Books</h5>
        {{/ifCond}}

        <div class="space space-xm"></div>
        <!--Card-->
        {{#each data}}
            <div class="col s12 m4 l3">
                <div class="card book hoverable">
                    <div class="card-content">
                        <a href="/{{../viewUrl}}/{{this._id}}" class="card-title color-primary">{{this.title}}</a>
                        <div class="space space-xm"></div>
                        <div class="book__meta">
                            <div class="book__author grey-text">by {{this.author}}</div>
                            <div class="book__pdate grey-text">{{formatDate this.p_date}}</div>
                        </div>
                        <div class="space space-xm"></div>
                        <div class="book__desc grey-text text-darken-2">
                            <p>{{this.desc}}</p>
                        </div>
                    </div>
                    <div class="card-footer color-primary">
                        {{#if ../type }}
                            <div class="book__support">
                                <i class="material-icons">thumb_up</i>
                                <span class="grey-text">
                                52
                            </span>
                            </div>
                        {{else}}
                            <div class="book__rating">
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star_half</i>
                                <span class="grey-text">3.5</span>
                            </div>
                        {{/if}}
                        <div class="book__love">
                            <i class="material-icons">favorite_border</i>
                            <span class="grey-text">214</span>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
