<div class="white-space space-md"></div>
<div class="container row">
    <div class="col s12 m10 offset-m1 l8 offset-l2 white">
        <div class="row">
            <div class="white-space space-md clearfix"></div>
            <h4 class="col s10 offset-s1 t-trans-c"> {{action}} Book</h4>
            <div class="white-space space-sm clearfix"></div>
            <form method="POST" action="/{{submitUrl}}{{#ifCond action 'edit' }}/edit/save/{{data._id}}{{/ifCond}}" class="col s10 offset-s1">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title" name="title" type="text" class="validate"
                               value="{{#ifCond action 'edit' }}{{data.title}}{{/ifCond}}">
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="author" name="author" type="text" class="validate"
                               value="{{#ifCond action 'edit' }}{{data.author}}{{/ifCond}}">
                        <label for="author">Author</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="desc" id="desc" class="materialize-textarea" length="200">{{#ifCond action
                                                                                                            'edit' }}{{data.desc}}{{/ifCond}}</textarea>
                        <label for="desc">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input name="publisher" id="publisher" type="text" class="validate"
                               value="{{#ifCond action 'edit' }}{{data.publisher}}{{/ifCond}}">
                        <label for="publisher">Publisher</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="p_date" name="p_date" type="date" class="datepicker validate"
                               value="{{#ifCond action 'edit' }}{{data.p_date}}{{/ifCond}}">
                        <label for="p_date">Publish Date</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="edition" name="edition" type="number" class="validate"
                               value="{{#ifCond action 'edit' }}{{data.edition}}{{/ifCond}}">
                        <label for="edition">Edition</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input id="isbn" name="isbn" type="text" class="validate"
                               value="{{#ifCond action 'edit' }}{{data.isbn}}{{/ifCond}}">
                        <label for="isbn">ISBN</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="lang" name="lang" type="text" class="validate"
                               value="{{#ifCond action 'edit' }}{{data.lang}}{{/ifCond}}">
                        <label for="lang">Language</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="pages" name="pages" type="number" class="validate"
                               value="{{#ifCond action 'edit' }}{{data.pages}}{{/ifCond}}">
                        <label for="pages">Pages</label>
                    </div>
                </div>
                {{#ifCond action 'edit' }}<input type="text" class="hide" name="id" value="{{data._id}}">{{/ifCond}}
                <div class="row">
                    <div class="input-field col s4">
                        <button class="btn waves-effect waves-light" type="submit">Save
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="white-space space-md clearfix"></div>
        </div>
    </div>
</div>
<div class="white-space space-md"></div>